[submodule "Service/Common"]
	path = Service/Common
	url = https://github.com/ckaczor/Common.git
[submodule "Service/openhardwaremonitor"]
	path = Service/openhardwaremonitor
	url = https://github.com/openhardwaremonitor/openhardwaremonitor.git
[submodule "Window/FloatingStatusWindow"]
	path = Window/FloatingStatusWindow
	url = https://github.com/ckaczor/FloatingStatusWindow.git
